<div style="display: flex">
  <form id="bookSelect" @submit.prevent="getBook">
    <label for="booksDD">
      Book
      <select id="booksDD" form="bookSelect" @change="selectBook($event.currentTarget.value)">
        <option value="0"></option>
        <option v-for="book in bookNames" :value="book.id">{{ book.name }}</option>
      </select>
    </label>
    <label for="chaptersDD" style="display: block">
      Chapter
      <select id="chaptersDD" form="bookSelect" v-model="selectedChapter">
        <option v-for="chapter in chapters" :value="chapter">{{ chapter }}</option>
      </select>
    </label>
    <button type="submit">Submit</button>
  </form>
  <ul style="width: 50%">
    <h2>{{ book.name }}</h2>
    <li v-for="chapter in book.chapters">
      <span :key="chapter.id">{{ chapter.id }}</span>
      <template v-for="verse in chapter.verses" :key="verse.id">
        <span>{{ verse.text }}</span>
      </template>
    </li>
  </ul>
</div>
